<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Exercise Tracker</title>
  </head>
  <body>
    <h1>Exercise Tracker</h1>
    <form action="/api/users" method="post">
      <h2>Create a New User</h2>
      <fieldset>
        <label for="username">username</label>
        <input
          id="uname"
          type="text"
          name="username"
          placeholder="your username"
          required
        />
        <input type="submit" value="Submit" />
      </fieldset>
    </form>
    <form id="exercise-form" method="post">
      <h2>Add exercises</h2>
      <fieldset>
        <label for="username">username</label>
        <input
          type="text"
          id="uname-e"
          name="username"
          placeholder="username"
          required
        />

        <label for="description">description</label>
        <input
          type="text"
          id="description-e"
          name="description"
          placeholder="description"
          required
        />

        <label for="number">duration</label>
        <input
          type="number"
          id="duration-e"
          name="duration"
          placeholder="description"
          max="60"
          required
        />

        <label for="date">duration</label>
        <input type="date" id="date-e" name="date" />

        <label for="id">id</label>
        <input type="text" id="id-e" name="id" placeholder="id" required />
        <input id="submit" type="submit" value="Submit" />
      </fieldset>
    </form>
    <script src="/javascript.js"></script>
  </body>
</html>
